<div class="panel">
  <div class="panel-heading">
    <div class="panel-text">
      <i class="fas fa-user-cog"></i>設定
    </div>
  </div>
  <div class="panel-body">
    <div class="row select-row">
      <p style="text-align:center;">名前: {{$ctrl.name}}</p>
      <input id="name-box" type="text" class="form-control" ng-model="$ctrl.name" ng-change="$ctrl.setName()" placeholder="Your Name">
      <p style="text-align:center;">削除用パス: {{$ctrl.removePass}}</p>
      <input id="pass-box" type="text" class="form-control" ng-model="$ctrl.removePass" ng-change= "$ctrl.setRemovePass()" placeholder="Remove Pass">
      <p>部屋を移動</p>
      <input class="form-control" type="text" placeholder="Room" ng-model="$ctrl.nextRoom">
      <a ng-href="/mondai/{{$ctrl.nextRoom}}" class="btn btn-default">移動</a>
    </div>
    <a class="btn btn-default" href="/lobby">戻る</a>
  </div>
</div>