<div class="panel">
  <div class="panel-heading">
    <div class="panel-text">
      <i class="fas fa-user-cog"></i>設定
    </div>
  </div>
  <div class="panel-body">
    <div class="row select-row">
      <label style="text-align:center;">名前</label>
      <div class="form-inline">
        <input id="name-box" type="text" class="form-control" ng-model="$ctrl.name" ng-change="$ctrl.setName()" placeholder="Your Name">
      </div>
      <label style="text-align:center;">削除用パス</label>
      <div class="form-inline">
        <input id="pass-box" type="text" class="form-control" ng-model="$ctrl.removePass" ng-change= "$ctrl.setRemovePass()" placeholder="Remove Pass">
      </div>
      <label>問題を解く</label>
      <form class="form-inline">
        <div class="input-append">
          <input class="form-control" type="text" placeholder="Room" ng-model="$ctrl.nextRoom">
          <a ng-href="/mondai/{{$ctrl.nextRoom}}" class="btn btn-default form-control">入室</a>
        </div>
      </form>
    </div>
    <div class="form-inline">
      <a class="form-inline btn btn-default form-control" href="/lobby">戻る</a>
    </div>
  </div>
</div>