<!doctype html>
<html lang="ja" ng-app="App">
  <head>
    <title>うたかたウミガメ</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/lobby.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div ng-controller="lobbyChatController as main">
        <h1 style="text-align:center;">ロビー(ベータ版)</h1>
        <!-- フォーム -->
        <div class="row control-row">
          <p style="text-align:center;">名前</p>
          <input id="name-box" type="text" class="form-control" ng-model="name" ng-change="setName()" placeholder="Your Name">
          <p style="text-align:center;">削除用パス</p>
          <input id="pass-box" type="text" class="form-control" ng-model="removePass" placeholder="Remove Pass">
        </div>
        <form ng-submit="send()">
          <div class ="input-append">
            <input type="text" class="form-control" ng-model="text" placeholder="Chat">
            <input type="submit" class="btn btn-default" value="Send">
          </div>
        </form>
        <!-- ページネーション -->
        <div class="row">
          <ul class="pagination" style="display: table; margin: 0 auto;">
            <li><span>ページ: {{page}}</span></li>
            <li ng-click="zeroPage()"><a href=""><<</a></li>
            <li ng-click="prevPage()"><a href="">Prev</a></li>
            <li ng-click="nextPage()"><a href="">Next</a></li>
          </ul>
        </div>
        <!-- チャット -->
        <div class="chat-area" style="width: 80%;">
          <div class= "row chat-row" ng-repeat="msg in messages track by $index">
            <div ng-if="msg" class="chat-box">
              <small class="secondary-text" ng-bind="msg.name"></small>
              <span class="primary-text message-text" ng-bind="msg.content"></span>
              <form name="removeForm" ng-submit = "remove(msg.id)">
                <input class="btn" type = "submit" value = "Remove">
              </form>
            </div>
          </div>
        </div>
        <a class="btn btn-default" style="display: table; margin: 10px auto;" href= '/'>Back</a>
      </div>
    </div>
  </body>
</html>
