<div>
  <div class="container-fluid">
    <div class= "col-xs-12">
      <div class="row">
        <div class="panel">
          <div class="panel-heading">
            <span><i class="fas fa-door-closed"></i>{{$ctrl.currentRoom}}</span>
          </div>
          <div class="panel-body">
            <p id="mondai-text" class="pre-line primary-text">{{$ctrl.mondai.content}}</p>
          </div>
          <div class="panel-footer">
            <span data-toggle="collapse" href="#mondai-input" id="mondai-text"><i title="編集" class="fas fa-edit icon-button"></i></span>
            <span ng-click="$ctrl.addLink()"><i title="ロビーにリンクを貼る" class="fas fa-bell icon-button"></i></span>
            <span ng-click="$ctrl.clearAll()"><i title="削除" class="fas fa-trash icon-button"></i></span>
            <span data-toggle="collapse" id="sender-text" class="">出題者:{{$ctrl.mondai.sender}} </span>
            <span data-toggle="collapse" id="sender-text" class="">出題日:{{$ctrl.mondai.created_month}}月{{$ctrl.mondai.created_date}}日</span>
            <form class="collapse" id="mondai-input" ng-submit="$ctrl.sendMondai()">
              <textarea class="form-control" placeholder="Content" ng-model="$ctrl.content"></textarea><br>
              <input class="btn warning-btn btn-danger" type="submit" value="Start a New Soup">
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div>
          <button class="btn btn-default" ng-click="$ctrl.fetchData()">{{$ctrl.status}}</button>
          <button id="openChat" class="btn btn-default">チャット</button>
          <button id="openSetting" class="btn btn-default">設定</button>
          <button id="openUser" class="btn btn-default">ユーザー一覧</button>
          <div id="question-area" class ="chat-area">
            <div class= "row chat-row" ng-repeat="msg in $ctrl.messages">
              <div class="col-xs-12 col-md-6">
                <div class="chat-box panel">
                  <div style="grid-row: 1/2; grid-column: 1;">
                    <button class="btn chat-id-button" name= "{{msg.id}}" onClick="document.getElementById('id_input').textContent='回答先: '+this.textContent; document.getElementById('ques_id_input').value = this.name; document.answerForm.answerBox.focus();">Q{{msg.questionNum}}</button>
                  </div>
                  <small class="secondary-text" style="grid-row: 1; grid-column: 2;">{{msg.name}}</small>
                  <span class="primary-text message-text" style="grid-row: 2; grid-column: 2;">{{msg.text}} <span class="label label-info" ng-if="msg.isGood">良い質問</span> <span class="label label-success" ng-if="msg.isTrueAns">正解</span></span>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="chat-box panel">
                  <div style="grid-row: 1/2; grid-column: 1;">
                    <button class="btn chat-id-button" name= "{{msg.id}}" onClick="document.getElementById('id_input').textContent='回答先: '+this.textContent; document.getElementById('ques_id_input').value = this.name; document.answerForm.answerBox.focus();">A{{msg.questionNum}}</button>
                  </div>
                  <small class="secondary-text" ng-bind="msg.answerer" style="grid-row: 1; grid-column: 2;"></small><br>
                  <span class="primary-text message-text" ng-bind="msg.answer" style="grid-row: 2; grid-column: 2;"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="controls panel row">
          <div class="">
            <ul class="nav nav-pills" style="margin: 10px auto; display: table;">
              <li class="active"><a data-target="#question" data-toggle="tab">質問</a></li>
              <li><a data-target="#answer" data-toggle="tab">回答</a></li>
            </ul>
          </div>
          <div class="">
            <div class="tab-content">
              <!-- 質問フォーム -->
              <div id="question" class="tab-pane row control-row active">
                <form ng-submit="$ctrl.send()">
                  <div class ="input-append">
                    <p>質問を入力</p>
                    <input type="text" class="form-control" ng-model="$ctrl.text" placeholder="Question">
                    <input type="submit" class="btn btn-default" value="送信する">
                  </div>
                </form>
              </div>
              <!-- 回答フォーム -->
              <div id="answer" class="tab-pane row control-row">
                <form ng-submit="$ctrl.sendAnswer()" name="answerForm">
                  <div class="input-append">
                    <p min=1 id="id_input" ng-model="id">質問の数字をクリックして回答先を選択</p>
                    <div style="display:none;" id="ques_id_input"></div>
                    <input type="text" class="form-control" ng-model="$ctrl.answer" placeholder="Answer" name="answerBox">
                    <input type="checkbox" ng-model="$ctrl.isGood">良い質問
                    <input type="checkbox" ng-model="$ctrl.isTrueAns">正解<br>
                    <input type="submit" class="btn btn-default" value="送信する">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel">
          <div class="panel-body">
            <p id="trueAns-text" class="pre-line primary-text" ng-bind="$ctrl.trueAns"></p>
          </div>
          <div class="panel-footer">
            <span data-toggle="collapse" href="#trueAns-input"><i title="編集" class="fas fa-edit icon-button"></i></span>
            <form class="collapse" id="trueAns-input" ng-submit="$ctrl.sendTrueAns()">
              <textarea class="form-control" placeholder="True answer" ng-model="$ctrl.ansContent"></textarea><br>
              <input class="btn warning-btn btn-danger" type="submit" value="Put the True Answer">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div>
        <div class="">
          <dialog id="settingDialog" class="panel drag-and-drop">
            <div class="panel-heading">
              <div class="panel-text">
              <i class="fas fa-user-cog"></i>設定
              <button id="closeSetting" class="btn btn-danger close-button">×</button>
              </div>
            </div>
            <div class="panel-body">
              <div class="row select-row">
                <form ng-submit="void(0)">
                  <div class="row control-row">
                    <input id="name-box" type="text" class="form-control" ng-model="$ctrl.name" ng-change="$ctrl.setName()" placeholder="Your Name">
                  </div>
                </form>
                <input id="pass-box" type="text" class="form-control" ng-model="$ctrl.removePass" ng-change="$ctrl.setRemovePass()" placeholder="Remove Pass">
              </div>
            </div>
          </dialog>
          <div class="users-row">
            <dialog class="drag-and-drop panel user-list" id="userDialog">
              <div class="panel-heading">
                <div class="panel-text">
                <i class="fas fa-users"></i>ユーザー一覧
                <button id="closeUser" class="btn btn-danger close-button">×</button>
                </div>
              </div>
              <div class="panel-body">
                <ul>
                  <li style="list-style:none;" ng-repeat="user in $ctrl.roster">
                    <button class="btn transparent" value="{{user.id}}" name="{{user.name}}" data-toggle="modal" data-target="#sampleModal" onClick="document.getElementById('toIdLabel').value= this.value; document.getElementById('toIdLabel').textContent= this.name;">
                    <span ng-bind="user.name"></span>
                    </button>
                  </li>
                </ul>
              </div>
            </dialog>
          </div>
        </div>
        <div class="">
          <dialog class="panel drag-and-drop" id="chatDialog">
            <div class= "panel-heading">
              <div class="panel-text">
              <i class="fas fa-comments"></i>チャット
              <button id="closeChat" class="btn btn-danger close-button">×</button>
              </div>
            </div>
            <div class= "panel-body">
              <div class="row chat-row input-append">
                <form ng-submit="$ctrl.sendPublicMessage()">
                  <input type="text" class="form-control" ng-model="$ctrl.publicText" placeholder="Send message to all">
                  <input type="submit" class="btn btn-default" value="送信する">
                </form>
              </div>
              <div id="private-chat-area">
                <div class="row chat-row" ng-repeat="msg in $ctrl.privateMessages">
                  <chatbox parent="$ctrl" msg="msg"></chatbox>
                </div>
              </div>
            </div>
          </dialog>
        </div>
      
      <div class="right-controls row" style="min-height: 300px;"></div>
    </div>
  </div>
  <!--モーダルダイアログ-->
  <div class="modal fade" id="sampleModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
          <h4 class="modal-title">プライベートメッセージ</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="$ctrl.sendPrivateMessage()">
            <p><span>To: </span><span type="number" id="toIdLabel" ng-model="$ctrl.toId"></span></p>
            <input type="text" ng-model="$ctrl.privateText">
            <input class="btn btn-primary" type="submit" value ="送信">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
(function() {
  var openChatButton = document.getElementById('openChat');
  var openSettingButton = document.getElementById('openSetting');
  var openUserButton = document.getElementById('openUser');
  
  var closeChatButton = document.getElementById('closeChat');
  var closeSettingButton = document.getElementById('closeSetting');
  var closeUserButton = document.getElementById('closeUser');
  
  var chatDialog = document.getElementById('chatDialog');
  var settingDialog = document.getElementById('settingDialog');
  var userDialog = document.getElementById('userDialog');

  openChatButton.addEventListener('click', function() {
    chatDialog.show();
  });
  openSettingButton.addEventListener('click', function() {
    settingDialog.show();
  });
  openUserButton.addEventListener('click', function() {
    userDialog.show();
  });
  closeChatButton.addEventListener('click', function() {
    chatDialog.close();
  });
  closeSettingButton.addEventListener('click', function() {
    settingDialog.close();
  });
  closeUserButton.addEventListener('click', function() {
    userDialog.close();
  });
  
    //参考URL:https://q-az.net/elements-drag-and-drop/
    //要素の取得
    var elements = document.getElementsByClassName("drag-and-drop");

    //要素内のクリックされた位置を取得するグローバル（のような）変数
    var x;
    var y;

    //マウスが要素内で押されたとき、又はタッチされたとき発火
    for(var i = 0; i < elements.length; i++) {
        elements[i].addEventListener("mousedown", mdown, false);
        elements[i].addEventListener("touchstart", mdown, false);
    }

    //マウスが押された際の関数
    function mdown(e) {

        //クラス名に .drag を追加
        this.classList.add("drag");

        //タッチデイベントとマウスのイベントの差異を吸収
        if(e.type === "mousedown") {
            var event = e;
        } else {
            var event = e.changedTouches[0];
        }

        //要素内の相対座標を取得
        x = event.pageX;
        y = event.pageY - this.offsetTop;

        //ムーブイベントにコールバック
        document.body.addEventListener("mousemove", mmove, false);
        document.body.addEventListener("touchmove", mmove, false);
    }

    //マウスカーソルが動いたときに発火
    function mmove(e) {

        //ドラッグしている要素を取得
        var drag = document.getElementsByClassName("drag")[0];

        //同様にマウスとタッチの差異を吸収
        if(e.type === "mousemove") {
            var event = e;
        } else {
            var event = e.changedTouches[0];
        }

        //フリックしたときに画面を動かさないようにデフォルト動作を抑制
        e.preventDefault();

        //マウスが動いた場所に要素を動かす
        drag.style.left = event.pageX - x + "px";
        drag.style.top = event.pageY - y + "px";

        //マウスボタンが離されたとき、またはカーソルが外れたとき発火
        drag.addEventListener("mouseup", mup, false);
        document.body.addEventListener("mouseleave", mup, false);
        drag.addEventListener("touchend", mup, false);
        document.body.addEventListener("touchleave", mup, false);

    }

    //マウスボタンが上がったら発火
    function mup(e) {
        var drag = document.getElementsByClassName("drag")[0];

        //ムーブベントハンドラの消去
        document.body.removeEventListener("mousemove", mmove, false);
        drag.removeEventListener("mouseup", mup, false);
        document.body.removeEventListener("touchmove", mmove, false);
        drag.removeEventListener("touchend", mup, false);

        //クラス名 .drag も消す
        drag.classList.remove("drag");
    }

})();
</script>

