<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand hannari text-accent" href="#">
    <span>
      <img alt="U" src="favicon.ico">
    </span>
    <span>
      うたかたウミガメ
    </span></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link font-light" routerLink="/lobby">ロビー</a></li>
      <li class="nav-item"><a class="nav-link font-light" routerLink="/mondai">問題</a></li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle font-light" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          その他
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/privacy_policy">プライバシーポリシー</a>
          <a class="dropdown-item" routerLink="/link">リンク</a>
          <a class="dropdown-item" target="_blank" rel="noopener" href="https://github.com/pb10001/utakata-umigame/wiki">遊び方 <small><i class="fas fa-external-link-alt"></i></small></a>
          <a class="dropdown-item" target="_blank" rel="noopener" href="https://github.com/pb10001/utakata-umigame">GitHub <small><i class="fas fa-external-link-alt"></i></small></a>
        </div>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<div class="container-fluid">
  <router-outlet class="container-fluid"></router-outlet>
</div>
