@import url('https://fonts.googleapis.com/earlyaccess/mplus1p.css');
@import url('https://fonts.googleapis.com/earlyaccess/kokoro.css');
html{
  width:100%;
}
body {
  width:100%;
  font-family:'Mplus 1p', sans-serif;
  font-size:14px;
  background:#FAFAFA;
}
.pre-line{
    white-space:pre-line;
}
.btn.warning-btn{
    background:#FF9800;
}
.primary-text{
    color:#212121;
}
.secondary-text{
    color:#757575;
}
.navbar{
    background:#303F9F;
}
.caption-text{
    color:#FFFFFC;
    font-size:24px;
    font-family:"Kokoro", serif;
}
.chat-box{
  background:#FFFFFF;
  padding: 5px;
  border-radius:1px;
  border-right:#C5CAE9 solid 1px;
  border-bottom:#C5CAE9 solid 1px;
}
.multiline-box{
  font-size:1.2em;
  background:#FFFFFF;
  padding: 5px;
  border-radius:1px;
  border-bottom:#C5CAE9 solid 1px;
  border-right:#C5CAE9 solid 1px;
}
.chat-area{
    padding:10px;
    max-height:500px;
    overflow:auto;
    
  width:90%;
  margin: 0 auto;
}
.chat-row{
  margin-bottom:10px;
  width:100%;
  margin: 0 auto 5px;
}
.message-text{
    word-wrap:break-word;
}
.panel{
    border:#BDBDBD;
    margin: 0 auto;
    width: 90%;
}
.panel-heading{
    background:#C5CAE9;
    border-radius:1px;
}
.panel-body{
    background:#F0F0F0;
}
.fixed-area{
  display:block;
  position:fixed;
}
.form-control{
    width:100%;
}
.btn{
    border-radius:1px;
    font-size:1em;
}
.input-append{
    border-radius:1px;
    margin-bottom:10px;
}
.nav.user-list{
    background:#C5CAE9;
    padding:10px 0px;
    border:0;
    box-shadow:#888 0px 5px 5px;
}
.icon-bar{
    border:#FFF;
    background:#FF9800;;
}
.controls{
    width:90%;
    margin:0 auto 30px;
}
.control-row{
    margin:0 auto;
}
.footer{
    margin-top:20px;
}
#name-box{
    margin-top:5px;
    margin-left:10px;
}
#caption-box{
    margin-left:10px;
}
#pageTop{
  right:30px;
  bottom:10px;
  position:fixed;
}
#mondai-text{
  word-wrap:break-word;
}
#trueAns-text{
  word-wrap:break-word;
}
.clear-deco{
  text-decoration:none;
}
#mondai-input{
    margin-top:10px;
}
#mondai-input textarea{
    border-radius: 1px;
}
#trueAns-input{
    margin-top:10px;
}
#trueAns-input textarea{
    border-radius:1px;
}
