@import url('https://fonts.googleapis.com/earlyaccess/mplus1p.css');
@import url('https://fonts.googleapis.com/earlyaccess/kokoro.css');
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');
@import url('https://fonts.googleapis.com/earlyaccess/sawarabimincho.css');
html{
  width:100%;
}
body {
  width:100%;
  font-family:'Mplus 1p', sans-serif;
  font-size:14px;
  background:url("/img/circles.svg");
}
.select-row{
    margin: 0 auto;
}
.pre-line{
    white-space:pre-line;
}
.btn.warning-btn{
 	background:#FF9800;
	border:0;
}
.hannari{
	font-family:"Hannari","Sawarabi Mincho", serif;
}
.primary-text{
  color:#212121;
}
.secondary-text{
  color:#757575;
}
/*
.nav>li>a:focus,
.nav>li>a:hover{
    background:#FF9800;
}
.navbar{
  opacity:0.9;
  border-radius:1px;
	background:#303F9F;
}
.navbar a{
    color:#FFF;
}
.navbar-text.caption-text{
    margin:10px 5px;
    font-size:1.5em;
    color:#FFF;
    font-family:"Kokoro", serif;
}*/
#myConteiner{
	min-height:1000px;
	background:url("/img/circles.svg");
}
.container-fluid{
	padding-right:0;
}
.right-controls{
	padding-right:0;
}
.pusher{
	margin-top:60px;
	background:transparent;
}
.ui.fixed.menu{
  border-radius:1px;
background:#303F9F;
}
#caption-text{
    margin:10px 5px;
    color:#FFF;
    font-family:"Kokoro", serif;
}
.chat-box{
  background:#FFFFFF;
  padding: 5px;
  border-radius:1px;
  border-right:#C5CAE9 solid 1px;
  border-bottom:#C5CAE9 solid 1px;
  margin: 0 10px;
}
.chat-box.private-chat{
  border-right:#FF9800 solid 1px;
  border-bottom:#FF9800 solid 1px;
}
.multiline-box{
  font-size:1.2em;
  background:#FFFFFF;
  padding: 5px;
  border-radius:1px;
  border-bottom:#C5CAE9 solid 1px;
  border-right:#C5CAE9 solid 1px;
}
.chat-area{
  padding:10px;
  max-height:500px;
  overflow:auto; 
  margin: 0 auto;
}
.chat-row{
  margin-bottom:10px;
  width:100%;
  margin: 0 auto 5px;
}
.message-text{
    word-wrap:break-word;
}
.panel{
    border:#BDBDBD;
    margin: 0 auto;
    opacity:0.8;
}
.panel-heading{
    background:#C5CAE9;
    border-radius:1px;
    font-weight:lighter;
    font-family:"Noto Sans Japanese",sans-serif;
}
.panel-body{
    background:#F0F0F0;
}
.fixed-area{
  display:block;
  position:fixed;
}
.form-control{
    width:100%;
}
.btn{
    border-radius:1px;
    font-size:1em;
}
.input-append{
    border-radius:1px;
    margin-bottom:10px;
}
.nav.user-list{
    background:#C5CAE9;
    padding:10px 0px;
    border:0;
    box-shadow:#888 0px 5px 5px;
}
.icon-bar{
    border:#FFF;
    background:#FF9800;;
}
.controls{
    margin:0 auto 30px;
}
.control-row{
    margin:0 auto;
}
.wide-button{
    opacity:0.8;
    margin:0 auto;
    margin-top: 10px;
}
.footer{
    margin-top:20px;
}
.modal-content{
    border-radius:1px;
}
.users-row{
    margin:0 auto;
}
.jumbotron{
	border-radius:1px;
}
.form-control{
    border-radius:1px;
}
#name-box{
    margin-top:5px;
}
#caption-box{
    margin-left:10px;
}
#pageTop{
  right:30px;
  bottom:10px;
  position:fixed;
}
#mondai-text{
  opacity:1.0;
  word-wrap:break-word;
  font-family:"Noto Sans Japanese", sans-serif;
}
#trueAns-text{
  word-wrap:break-word;
  font-family:"Noto Sans Japanese", sans-serif;
}
.clear-deco{
  text-decoration:none;
}
#mondai-input{
    margin-top:10px;
}
#mondai-input textarea{
    border-radius: 1px;
}
#trueAns-input{
    margin-top:10px;
}
#trueAns-input textarea{
    border-radius:1px;
}
#sender-text{
    text-align:right;
}
#private-chat-area{
    max-height:600px;
    overflow:auto;
}
