<div class="panel">
  <div class="panel-body">
    <div>
      <label>名前</label>
      <div class="form">
        <input id="name-box" type="text" class="form-control" placeholder="Your Name">
      </div>
      <label>削除用パス</label>
      <div class="form">
        <input id="pass-box" type="text" class="form-control" placeholder="Remove Pass">
      </div>
      <label>問題を解く</label>
      <form class="form">
        <div class="input-append">
          <input class="form-control" type="text" placeholder="Room" >
          <a class="btn btn-default form-control">入室</a>
        </div>
      </form>
    </div>
    <div class="form">
      <a class="form btn btn-default form-control" routerLink="/lobby">戻る</a>
    </div>
  </div>
</div>
