@media screen and (max-width: 500px){
  .drag-and-drop{
    .dialog{
      width: 90vw !important;
    }
  } 
}
.drag-and-drop{
  position: absolute;
  visibility: hidden;
 .dialog{
  position:absolute;
  width: 50vw;
  border-radius:1px;
  border: 1px solid rgba(0,0,0,.05);
    .panel-heading{
      cursor: move;
    }
  }
}
