@mixin SawarabiGothic {
  font-family: 'Sawarabi Gothic', sans-serif;
}
@mixin SawarabiMincho {
  font-family: 'Sawarabi Mincho', serif;
}
@mixin Hannari{
  font-family: 'Hannari', cursive;
}
@mixin Bellefair{
  font-family: 'Bellefair', serif;
}
.text-white{
  color:#FFF;
}
.text-main{
  color:#333;
}
.text-accent{
  color: rgba(173, 146, 88, 1) !important;
}